* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    background-color: #837878;
    padding: 10px 0;
    text-align: center;
    color: white;
}

#produtos {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#carrinho {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: block;
}

.produto-single {
    width: 32%;
    margin-right: 1%;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.produto-single img {
    max-width: 100%;
}

.produto-single p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.produto-single a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #32CD32;
    padding: 4px 0;
    font-size: 18px;
}

.info-single-checkout {
    border-bottom: 2px dotted;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .produto-single {
        width: 1000px;
        margin-right: 0;
    }
}